body {
     font-family:'Montserrat', sans-serif;
     font-weight: 400;
     }

/* WRAPPER */
.wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* HEADER SECTION */
header {
    background-color: #795548;
    overflow: hidden;
}

header h1 { 
    font-family: 'Trade Winds', cursive;
    font-weight: 700;
    font-size: 1.35em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff; 

}

header h1 a {
    text-decoration: none;
    color: #ffffff;
}

header nav {
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        color: #ff4081;
    }

header ul {
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

header nav li{
    display: inline-block;
}

header nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #ff4081;
}

header nav a:hover {
    background-color: #5d4037;
}

.current {
  background-color: #5d4037;
}
 
/* MEDIA SCREEN QUERIES */
/* WIDESCREEN */
@media screen and (min-width: 67.5em){
    header h1 {
        width: 49%;
        float: left;
        text-align: left;
        line-height: 44px;
        padding-left: 1%;

        }
    
    header nav {
        width: 49%;
        float: left;
        background-color: transparent;
        text-align: right;
        line-height: 44px;
        padding-right: 1%;

    }

    header nav ul {
        margin: 0;
    }
}



 /* HERO SECTION */
 .hero {
         padding: 20em 0 5em;
         height: 22%;
         background: url(../img/caffeine.jpg) no-repeat center center;
         background-size: cover;
         background-attachment: fixed;
         overflow: hidden;

 }

 .hero p {
     font-family: 'Rubik', sans-serif;
     font-weight: 300;
     font-size: 3em;
     color: #ffffff;
     position: absolute;
     top: 70%;
     left: 5%;
 }

 /* MEDIA SCREEN QUERIES */
 /* WIDESCREEN */
 @media screen and (min-width: 67.5em){
     .hero p {
         font-size: 4em;
         }

     .hero {
         padding: 25em 0 10em;
     }

     }
 /* CONTENT-HOME SECTION */
 .content-home {
         padding: 3em 0;
         text-align: center;
         background-image: url(../img/green_cup.png);
         overflow: hidden;
 }

 /* CONTENT-HOME COL SECTION */
 .content-home .col {
         padding: 3em 0;
         color: #5d4037;
 }

 .content-home .col img {
     display: block;
     width: 100%;
     height: auto;
     margin-bottom: 1em;
 }
 .content-home .col h4 {
     font-family: 'Rubik', sans-serif;
     font-weight: 700;
     color: #5d4037;
     font-size: 2em;
     margin: 0;
 }

 .content-home .col p {
     margin-bottom: 3em;
     color: #000000;
 }

 /* MEDIA SCREEN QUERIES */
 /* WIDESCREEN */
 @media screen and (min-width: 67.5em){
     .content-home .col{
         width: 31.3333%;
         float: left;
         margin-right: 2%;
 }
 }

 /* LOGISTICS SECTION */
 .logistics {
         overflow: hidden;
         padding: 3em 0;
         text-align: center;
         color: #d7ccc8;
         background-color: #865f52

 }

 .logistics p + h2{
     padding-top: 1em;
 }

 .logistics h2 + p{
     margin-bottom: 3em;
 }

 .logistics h2 {
         font-family:'Rubik', sans-serif;
         font-weight: 500;
 }


 .logistics h3 + p {
     font-family:'Montserrat', sans-serif;
     margin: .5em 0 1em;
 }

 .logistics img {
     display: block;
     width: 100%;
     height: auto;

 }

 /* MEDIA SCREEN QUERIES */
 /* WIDESCREEN */
 @media screen and (min-width: 67.5em){

 .logistics .col {
     width: 31.3333%;
     float: left;
     margin-right: 2%;

 }
 }

/* ABOUT US FAQ SECTION */

.content {
  overflow: hidden;
  background: url(../img/green_cup.png) no-repeat center center;
  background-size: cover;
}

.content .main h2 {
  color: #5d4037;
}

.content .main h3 {
  color: #795548;
}

@media screen and (min-width: 47.5em){
 .content .main {
  float: left;
  width: 65%;
 }

.content .side {
  float: left;
  width: 30%;
 }

 .content .side img {
  width: 70%;
  float: right;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5%;
 }
 }

 /*PRODUCTS PAGE*/
.content-products {
    padding: 3em 0;
    background-image: url(../img/green_cup.png);
    overflow: hidden;
}

.content-products h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: #5d4037;
    font-size: 2em;
    margin: 0;
}

.content-products p{
    font-size: 1em;
    margin: 10px 0 40px 0;
}

.content-products ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.content-products li img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.content-products li h4{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: #5d4037;
    margin: 0;
}

.content-products li p{
    margin: 10px 0 50px 0;
}

/* MEDIA SCREEN QUERIES */
/* WIDESCREEN */
@media screen and (min-width: 47.5em){
    .content-products li {
        width: 48%;
        margin-right: 2%;
        float: left;
    }

/* MEDIA SCREEN QUERIES */
/* WIDESCREEN */
@media screen and (min-width: 67.5em){
    .content-products li{
        width: 31.3333%;
        margin-right: 2%;
}
}


/* NEWS SECTION */

.wrapper {
  width: 85%;
  margin: auto;
  overflow: hidden;
}

form label {
  display: block;
  margin-bottom: .5em;
}

input {
  display: block;
  margin-bottom: 1em;
  border: 0;
  background-color: #e5e5e5;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
}

form button {
  border: 0;
  line-height: 3;
  font-size: 1em;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #795548;
  color: #ffffff;
}

form button a:hover {
    background-color: #ff4081;
    color: #ffffff;
}

.main {
  padding-top: 20px;
  padding-left: -20px;
  overflow: hidden;
}

.content-news {
 overflow: hidden;
 background-image: url(../img/green_cup.png);
}

.media-element li {
 overflow: hidden;
 clear: all;
}
 
.media-element img {
 float: left;
 width: 30%;
 margin-right: 5%;
 border-radius: 4%;
 padding-bottom: 10px;
 }

 .media-element .description {
 float: left;
 width: 65%;
}

 .wrapper {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
 .content-news .main {
 float: left;
 width: 70%;
 }
 .content-news .side {
 width: 30%;
 position: absolute;
 top: 15%;
 left: 67%;
 }

.content-news .main h2 {
    margin: 0 0 20px 40px;
    color: #5d4037;
}

.content-news .main h2 + p {
   font-size: 1.5em;
   line-height: 35px;
   margin: 0 60px 0 40px;

 }

.content-news .main h3 {
    color: #795548;
}
.content-news .main p {
    font-size: 1em;
 }
  
.content-news .main {
  line-height: 1.5em;
  overflow: hidden;
}

.media-element a {
    text-decoration: none;
}


.content-news .side {
  overflow: hidden;
  padding-left: 30px;
}

.content-news .side h3 {
  margin: 27px 0 0 0;
  color: #ff4081;
  border-top-style: solid;
  border-top-width: 10px;
  border-color: #ff4081;
  border-spacing: 5%;
}

 .media-element img {
 float: left;
 width: 30%;
 margin-right: 5%;
 border-radius: 4%;
 padding-bottom: 10px;
 }

 .media-element .description {
 float: left;
 width: 65%;
 }
}
@media screen and (min-width: 47.5em){
 .wrapper {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
 .content-news .main {
 float: left;
 width: 70%;
 }
 .content-news .side {
 width: 30%;
 position: absolute;
 top: 15%;
 left: 67%;
 }

form label {
  display: block;
  margin-bottom: .5em;
}

input {
  display: block;
  margin-bottom: 1em;
  border: 0;
  background-color: #e5e5e5;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
}

form button {
  border: 0;
  line-height: 3;
  font-size: 1em;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #795548;
  color: #ffffff;
}

form button a:hover {
    background-color: #ff4081;
    color: #ffffff;
}

.main {
  padding-top: 20px;
  padding-left: -20px;
  overflow: hidden;
}

.content-news {
 overflow: hidden;
 background-image: url(../img/green_cup.png);
}

.content-news .main h2 {
    margin: 0 0 20px 40px;
    color: #5d4037;
}

.content-news .main h2 + p {
   font-size: 1.5em;
   line-height: 35px;
   margin: 0 60px 0 40px;

 }

.content-news .main h3 {
    color: #795548;
}
.content-news .main p {
    font-size: 1em;
 }
  
.content-news .main {
  line-height: 1.5em;
  overflow: hidden;
}

.media-element a {
    text-decoration: none;
}


.content-news .side {
  overflow: hidden;
  padding-left: 30px;
}

.content-news .side h3 {
  margin: 27px 0 0 0;
  color: #ff4081;
  border-top-style: solid;
  border-top-width: 10px;
  border-color: #ff4081;
  border-spacing: 5%;
}
}


/* FOOTER SECTION */
footer {
        padding: 1em 0;
        overflow: hidden;
        font-weight: 300px;
        color: #ff4081; 
        background-color: #5d4037;
}

footer .copyright {
    text-align: center;
}

.social-links {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}


.social-links li {
    display: inline-block;
}


.social-links a {
    padding-bottom: 2em;

}


.fa {
    font-weight: 500px;
    font-size: 2em;
    margin: 0em;
    padding: 0 20px;
    padding-top: 10px;
    align-items: center;
    color: #ff4081;
}

.secondary-nav li {
    display: inline-block;
    word-spacing: 5em;
    text-align: center;
}

.secondary-nav {
        font-weight: 300;
        font-size: 1em;
        text-align: center;
        word-spacing: 20px;
        color: #ff4081;
        padding: .25em 0;
        background-color: #5d4037;
}

.secondary-nav a {
    display: inline-block;
    text-decoration: none;
    color: #ff4081;
    text-align: center;
}

.secondary-nav a:hover {
     background-color: #795548;
}
@media screen and (min-width: 67.5em){

    footer .copyright {
        width: 33.3333%;
        float: left;
    }

    .social-links {
        width: 33.3333%;
        float: left;
        text-align: center;
    }


    .secondary-nav {
        width: 33.3333%;
        float: left;
}
}
